.metadata/

# Eclipse 관련 폴더 및 파일 무시
.classpath
.project
.settings/
eclipse/
portfolio/
track005_jsp/tomcat9.0/
track005_jsp/Servers/
track006_spring/Servers/

track007_boot_api/boot1/src/main/resources/application-oauth.properties
track007_boot_api/test/src/main/resources/application-oauth.properties
track007_boot_api/boot1/src/main/resources/*.zip

track008_1_nodeReact/back/node_modules/
track008_1_nodeReact/back/.env
track008_1_nodeReact/front/node_modules/

track008_1_nodeReact_test/back-t/node_modules/
track008_1_nodeReact_test/back-t/.env
track008_1_nodeReact_test/front-t/node_modules/

track008_2_bootReact2026/front1/node_modules/
track008_2_bootReact2026/front2/node_modules/
track008_2_bootReact2026/front3/node_modules/
track008_2_bootReact2026/front3_1/node_modules/
track008_2_bootReact2026/front3_2/node_modules/

# 빌드 결과물 무시
/bin/
/build/

# IDE 관련
.idea/
*.iml

# OS별 임시파일
*.DS_Store
Thumbs.db


# Next.js
.next/
 
.env
**/env
**/.env